nav {
  background: black;
 // height: 20px;
  padding: 10px;
  color: white;
}

#main {
    width: 100%;
    margin: auto;
    padding: 5px;
}
#movie-search{
  color: black;
}

div.movie-list {
  //  width: 25%;
    // height: 200px;
  //  float: left;
  //  background: red;
}

select#star-rating {
  height:30px;
  line-height:30px;
  background: white;
}

select {
  height:30px;
  line-height:30px;
  background: black;
}

// .row {
// // border: 1px black solid;
//  display: table;
//  margin-bottom: 5px;
//  //height: 100%;
// }

//[class*="col-"] {
  //  float: none;
  //  border: 1px black solid;

//   border-left: 1px black solid;
  //  display: table-cell;
  #movie-result-col{
    vertical-align: top;
    height: 200px;
    width: 300px;
}

ul {
  list-style-type: none;
}

#review-result-col{
  background: white;
 margin: 3px;
 padding: 5px;
 height: 100%;
 border: 3px white groove;
}
// .col-md-3 {
//   border-right: 1px black solid;
//   border-left: 1px black solid;
//   background: green;
//   height: 100%;
//  // width: 100%;
//  // padding: 5px;
//   //margin: 2px;
// }
.movie-show{
  background:black;
  font-size: 2em;
  border: 4px yellow groove;
  color: white;
  margin: 15px;
}

.movie-text{
 vertical-align: top;
 background: #d3d3d3;
 margin: 1px;
 padding: 5px;
 height: 100%;
 border: 3px white dashed;

}
